{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}我的订单{% endblock %}</h1>
<a class="action" href="{{ url_for('auth.index') }}">首页</a>
{% endblock %}

{% block content %}
{% for order in orders%}
<article class="item">
    <div class="iteminfo">
      <span class="itemtime">{{ order.created_at.strftime('%Y-%m-%d %H:%M') }}</span>
      <span>{{order.price}}元</span>
    </div>
    <div class="itemaction">
      {% if order['status'] == 'new' %}
      <a href="{{ url_for('order.eito', id=order['id'] ) }}">选择配送方式</a>
      &nbsp;
      {% endif %}
      <a href="{{ url_for('order.view', id=order['id'] ) }}">详细</a>
    </div>
</article>
{% endfor%}
{% endblock %}
