{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}点单{% endblock %}</h1>
<a class="action" href="{{ url_for('auth.index') }}">首页</a>
{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='jquery.js') }}"></script>
<script src="{{ url_for('static', filename='popup.js') }}"></script>

<form method="post" action="{{ url_for('order.create') }}">

{% for course in courses %}
<article class="course_container">
  <div class="course_icon_container">
    <img src="/static/menuicons/{{ course['icon_hashname'] }}" class="preview_icon" />
  </div>
  <div class="course_body_container">
    <div class="course_title_line">
      <h1 class="course_title">{{ course['title'] }}</h1>
      <span>单价 {{ course['price'] }} 元</span>
    </div>
    <p class="course_description">{{ course['description'] }}</p>
    <div class="course_quantity">
      <button onclick="dec_qty(event, {{ course['id'] }})" class="qty_button">-</button>
      <input id="qty_{{ course['id'] }}" class="input_quantity" name="{{ course['id'] }}"
             type="number" value="0" readonly/>
      <button onclick="inc_qty(event, {{ course['id'] }})" class="qty_button">+</button>
    </div>
  </div>
</article>
{% endfor %}

<div class="submit_order">
  <button type="submit" class="submit_button">下单</button>
</div>
</form>
{% endblock %}
