<!doctype html>
<html>
  <head>
    <title>欢迎！</title>    
  </head>
  <body>
    <h3>
      该网站是一个简单的点餐系统，当然内部一定有很多问题，和需要完善的地方，下面是简单的介绍．
    </h3>
    <article>
      <h4>1. 用户 </h4>
      <p>
        当前系统有两种用户，管理员和普通用户．
      </p>
      <p>
        默认有管理员(帐号: admin 密码: admin)和普通用户(帐号: user 密码:user)两个用户．
        <br>
        普通用户只能点单，选择堂食或者外卖配送，查看自己的订单等．
        <br>
        其中管理员还能够生成新的菜品，修改现有菜品，查看和修改所有订单的能力．
      </p>
    </article>

    <article>
      <h4>2. 点菜流程 </h4>
      <p>
        管理员通过编辑添加新的菜品，可以编辑其名称，描述，图标，单价以及状态(若为离线，则点单时无法看到此菜品)．
      </p>
      <p>
        之后所有用户都可以在点单页面中选择其数量，然后下单．
      </p>
      <p>
        用户还需要额外选择其配送方式，堂食需要选择桌号，外卖需要填写配送地址和电话号码．
      </p>
      <p>
        如果用户误输入了，管理员可以根据其订单号找到并修改其状态，使得用户可以继续编辑配送方式．
      </p>
    </article>

    <article>
      <h4>3. 订单状态 </h4>
      <p>
        订单有四个状态：
      </p>
      <ol>
        <li>用户刚点完单，这个时候状态为：未选择配送方式</li>
        <li>用户确认配送方式后，状态为：已选择配送方式，如果输入错误，需要管理员帮忙回退状态再次修改</li>
        <li>已完成订单，完成订单后，管理员可以手动将订单修改至该方式</li>
        <li>已取消订单，取消订单后，管理员可以手动将订单修改至该方式</li>
      </ol>
      <p>
        其中已完成和已取消的订单，都仅作标记用．
      </p>
    </article>

  </body>
</html>
